body {
  font-family: Arial;
  padding: 20px;
}
form input, select, button {
  margin: 5px;
  padding: 8px;
}
#transactions {
  margin-top: 20px;
}
.transaction {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;
}
